--extra-index-url https://download.pytorch.org/whl/cpu
gradio==4.44.0
torch==2.4.0
diffusers==0.30.0
transformers==4.44.0
accelerate
controlnet-aux==0.0.10
rembg==2.0.57
opencv-python-headless
pillow
numpy
peft
